name: run-pytest

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        python-version: ["3.10"]
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
      
      - name: Test with pytest
        run: |
          # This tells the runner to look in the root for your week03 folder
          export PYTHONPATH=$PYTHONPATH:.
          # We run ONLY week03 so the empty labs don't crash the build
          pytest week03/